body {
    font-family: 'Poppins';
    background: linear-gradient(-46deg, #d5aa75, #d264b5, #0f65d1, #69d7d2);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
    color: white;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
